section.table
    table.table__content 
        thead.table__head
            tr.table__row_head
                th.table__cell Customer Name
                th.table__cell Company
                th.table__cell Phone Number
                th.table__cell Email
                th.table__cell Country
                th.table__cell Status
        tbody.table__body
            each customer in customers 
                tr.table__row_body
                    td.table__cell #{customer.name}
                    td.table__cell #{customer.company}
                    td.table__cell #{customer.number}
                    td.table__cell #{customer.email}
                    td.table__cell #{customer.country}
                    td.table__cell 
                        if customer.status == "Active"
                            span.table__status.table__status_active Active
                        else 
                            span.table__status.table__status_inactive Unactive